{% extends "base.html" %}
{% block content %}
<h1><a href="/about"><font color="black">К разделам</font></a></h1>
<ol class="rounded">
  <li><a href="https://jamesclear.com/articles">James Clear</a></li>
  <li><a href="http://englishon-line.ru/gaseti.html">Englishon-line</a></li>
  <li><a href="https://reallanguage.club/anglijskie-teksty-dlya-srednego-urovnya/">reallanguage.club</a></li>
  <li><a href="https://news.mit.edu/topic/computers?type=1&page=1">MIT</a></li>
  <li><a href="https://www.businessinsider.com/sai">businessinsider</a></li>
</ol>
<p style="font-style:oblique">James Clear - американский бизнесмен, блогер, автор статей о самосовершенствовании.В 2018 году выпустил книгу «Атомные привычки. Как приобрести хорошие привычки и избавиться от плохих», которая заняла первое место в списках бестселлеров по версии New York Times, в JamesClear.com пишет статьи о привычках, принятии решений и постоянном совершенствовании. </p>
<p style="font-style:oblique">Englishon-line - на этом портале есть статьи на любую тему - образование, туризм, компьютерные технологии. Отличается авторским переводом и словарями по каждой статье</p>
<p style="font-style:oblique">Reallanguage - Английские тексты среднего уровня с переводом и аудио</p>
<p style="font-style:oblique">MIT - Одно из самых престижных технических учебных заведений США и мира, на своем сайте публикует статьи про науку и технологии</p>
<p style="font-style:oblique">Businessinsider - Новостной портал про науку</p>
{% endblock %}