{% extends "base.html" %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
<h1 style="padding-top:40px; padding-bottom:40px">{{ title }}</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.author.label }}<br>
        {{ form.author(class="form-control") }}<br>
        {% for error in form.author.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.file.label }}<br>
        {{ form.file(class="form-control") }}<br>
        {% for error in form.file.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}
